{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="well well-large" style="height: 140px;">
<div class="pull-right">
<img src="#" class="img-polaroid">
</div>
<h1>{{user.username}}</h1>
{% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
{% if user.last_seen %}<p><em>Last seen on: {{user.last_seen}}</em></p>
{% endif %}
{% if user.id == g.user.id %}
<a href="{{url_for('edit')}}">Edit your profile</a>
{% endif %}
</div>
<div class="well">
{% for post in posts.items %}
{% include 'manage.html' %}
{% endfor %}
</div>
<ul class="pager">
   {% if posts.has_prev %}
   	 <li class="previous"><a href="{{ url_for('index', page = posts.prev_num) }}">Newer posts</a></li>
    {% else %}
    	<li class="previous disabled"><a href="#">Newer posts</a></li>
    {% endif %}
    {% if posts.has_next %}
    	<li class="next"><a href="{{ url_for('index', page = posts.next_num) }}">Older posts</a></li>
    {% else %}
    	<li class="next disabled"><a href="#">Older posts</a></li>
    {% endif %}
</ul>
{% endblock %}

